<% content_for :title do %>CD TV<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
      <div data-id="cdinfoupdate" data-view="Cdinfo" data-title="Oldest Done Feature" data-min="0" data-max="7"></div>
    </li>
  </ul>
</div>
